body {
  background-color: rgb(42, 42, 42);
  color: azure;
}

* {
  margin: 0;
  padding: 0;
}

.root {
  max-width: 1200px;
}

h1 {
  text-transform: uppercase;
}

.tag,
.btn-tag {
  text-transform: uppercase;
  border: none;
}

.small-icon {
  width: 15px;
  height: 15px;
}
.logo {
  width: 50px;
  height: 50px;
}
.w-3 {
  width: 150px;
}

.count {
  font-size: 15px;
}
.source {
  text-decoration: none;
  color: darkgray;
}
.main .tag {
  font-size: 10px;
}
.btn-all {
  background: linear-gradient(
    -45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border: none;
  transition: transform 0.3s ease;
}
.btn-tag {
  transition: transform 0.3s ease;
}

.btn-all:hover,
.btn-tag:hover {
  transform: scale(1.05); /* Increase size by 5% */
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
  height: 0.7rem;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text:last-child {
  width: 80%;
}

.skeleton.btn {
  width: 50px;
  height: 30px;
}

.skeleton-text.tag {
  height: 20px;
}
